@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4e47ff;
  --primary-light: #5b54ff;
  --background: #f5f8ff;
  --foreground: #252432;
  --paragraph: #8987a1;
}

@layer base {
  body {
    @apply antialiased font-inter bg-background text-foreground;
  }
}
